<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Create a Team and Heroes!</title>
</head>
<body>
  <form>
<form action= "/checkout" method="post">
Enter Item: <input type="text" name="item">
<button type="submit" value="submit">Submit</button>
</form>
</form>
</html>

